h1{
    color:blue;
    text-align:center;
    font-size:24px;
    text-transform:uppercase;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: lightblue;

}
p{
    font-size:18px;
    color:darkgreen;
    text-align:center;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}